@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    font-family:'Roboto';
    font-size:15px;
    height: 100vh;
}

header {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    height: 10%;
}

.wrapper {
    display: flex;
    width: 90%;
}

.left {
    width: 40%;
}

.left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left ul li {
    display: inline;
    color: black;
}

.mid {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid img {
    width: 80%;
    height: auto;
}

.right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap:15px;
}

.right iconify-icon {
    font-size: 20px;
    cursor: pointer;
    cursor: context-menu;
}